{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "rules": {
    "no-console": 2,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "endOfLine": "auto",
        "semi": false
      }
    ]
  }
}